.display-album {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  
  color: white;
}

.display-album img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.album-details {
  margin-left: 30px;
}

.album-details p:first-of-type {
  font-size: 14px;
  letter-spacing: 1px;
  color: #b3b3b3;
}

.album-details h2 {
  font-size: 36px;
  margin: 10px 0 5px;
  font-weight: bold;
}

.album-details h4 {
  font-size: 16px;
  font-weight: normal;
  color: #ccc;
}

.album-meta {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #aaa;
}

.album-meta img {
  margin-right: 8px;
  height: 30px;
  width: 30px;
}

.album-meta b {
  margin: 0 5px;
  color: white;
}

.song-header {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 40px;
  align-items: center;
  padding: 16px 40px;
  border-bottom: 1px solid #2a2a2a;
  color: #b3b3b3;
  font-size: 14px;
  
}

.song-header p,
.song-header img {
  margin: 0;
}

.song-header img {
  width: 20px;
  justify-self: center;
}


.song-row {
  display: grid;
  grid-template-columns: 40px 2fr 2fr 1fr 40px;
  align-items: center;
  gap: 16px;
  padding: 12px 40px;
  color: #e3e3e3;
  font-size: 14px;
  
  border-bottom: 1px solid #2a2a2a;
  transition: background 0.2s;
}

.song-row:hover {
  
  cursor: pointer;
}

.song-title {
  display: flex;
  align-items: start;
  gap: 12px;
}

.song-title img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.song-title div p:first-child {
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.song-title div p:last-child {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0;
}
